@import '../core/breakpoints.scss';

section {
	padding: 5rem 0;
	@include max640px {
		padding: 2.5rem 0;
	}
}

.spacer {
	padding-top: 100px;
}

.wrapper {
	display: block;
	max-width: 1400px;
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
	box-sizing: border-box;
}

.text-kontakt {
	font-size:10px;
	text-align:left;
}

.menu {
	padding-right:20px;
	font-weight:bold;
	font-size:13px;
	padding-top: 7px;
	padding-bottom: 10px;
}

.image-fixed {
	position: relative;
	bottom: 1050px;
	width:100%;
}
