@import '../config';
@import '../core/breakpoints.scss';

body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 3rem;
	@include max940px {
		margin-bottom: 1.5rem;	
	}

	@include max640px {
		font-size: 32px;	
	}
}

h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 3rem;
	@include max640px {
		font-size: 24px;
	}
}

.subheader {
	padding: 0;
}

.perex {
	font-size: 20px;
	line-height: 1.7;
}

.link {
	text-decoration: underline;
}

p {
	font-family: 'Raleway', sans-serif;
	line-height: 1.7;
	@include max640px {
		font-size: 14px;
	}
}

a {
	z-index: 9999;
	color: #000;
	text-decoration: none;
    &:hover {
        color: #000;
	    text-decoration: none;
    }
}

ul {
	li {
		@include max640px {
			font-size: 14px;
		}
	}
}

.list {
	list-style: none;
	padding-left: 0;
	@include max480px {
		padding-left: 0;
	}

	li {
		position: relative;
		margin-bottom: 15px;
		padding-left: 30px;

		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 11px;
			left: 0;
			width: 12px; height: 2px;
			background-color: $black;
			border-radius: $base-radius;
		}
	}

	ol {
		margin-top: 1rem;
		li {
			padding-left: 10px;
			&:before {
				display: none;
			}
		}
	}
}