.about {
    .about__image {
        display: block;
        max-width: 1000px;
        width: 100%;
    }

    .about__row {
        display: flex;
        @include max768px {
            flex-direction: column;
        }
    }
    
    .about__img {
        width: 100%;
        margin-top: 5rem;
        @include max768px {
            margin-top: 0;
        }
    }
}