.partners--auspices {
    display: flex;
    gap: 3rem;
    padding-bottom: 0;
    @include max768px {
        flex-flow: row wrap;
        gap: 1rem;
    }

    .partners__logos {
        a {
            max-width: 165px;
            margin: 0;
            margin-right: 30px;
        }
        
        & + .partners__logos {
            margin-top: 20px;
        }
    }
}