.partners--auspices {
    display: flex;
    gap: 3rem;
    padding-bottom: 0;
    .partners__col--mk {
        width: 20%;
    }

    .partners__logos {
        a {
            max-width: 165px;
            margin: 0;
            margin-right: 30px;
        }
        & + .partners__logos {
            margin-top: 20px;
        }
    }
}