@import '../config';
@import '../core/helpers.scss';

.breadcrumb {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    .breadcrumbList {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        padding: 1rem 0;
        @include max640px {
            flex-flow: row wrap;
        }
        
        li {
            display: flex;
            align-items: center;
            a {
                color: #7b7b7b;
                @extend .trans;
            }

            &:hover {
                a {
                    color: $black;    
                }
            }

            &:after {
                content: '';
                width: 13px;
                height: 13px;
                margin: 0 20px;
                background-image: url("../../images/icons/breadcrumb-arrow.svg");
                background-repeat: no-repeat;
                background-size: cover;
                transform: rotate(180deg);
                filter: invert(51%) sepia(42%) saturate(13%) hue-rotate(314deg) brightness(85%) contrast(88%);
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        .active {
            a {
                color: $black;
            }
        }
    }
}