.contacts {
	padding: 0 2rem;
}

.contact {
	.contact__row {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		flex-flow: row wrap;
		margin-bottom: 2rem;
	}

	.contact__col {
		@include max768px {
			width: 100%;
		}
	}

	.contact__map {
		width: 650px;
		height: 285px;
		@include max768px {
			width: 100%;
		}
	}

	.contact__wrap {
		display: flex;
		justify-content: space-between;
		@include max640px {
			flex-flow: row wrap;
		}
	}

	.contact__bankaccount {
		margin-top: 2rem;
		a {
			text-decoration: underline;
		}
	}

	.contact__legal {
		margin: 2rem 0;
	}
	
	.contact__block {
		display: block;
		min-width: 230px;
		@include max640px {
			font-size: 0.9rem;
			min-width: auto;
		}
	}
}

.contactList {
	&.contactListIncluded {
		margin-top: 3rem;
		.wrapper {
			margin-left: 0;
			padding: 0;
		}
	}
	.wrapper {
		margin-bottom: 3rem;
	}

	.contactList__row {
		display: flex;
		justify-content: flex-start;
		flex-flow: row wrap;
	}

	.contactList__item {
		width: 100%;
		max-width: 330px;
		.contact__block {
			margin-bottom: 3rem;
			text-align: center;
		}
		.avatar {
			max-width: 150px;
			width: 100%;
			margin: 0 auto 1.5rem auto;
			border-radius: 100%;
			overflow: hidden;
			img {
				max-width: 100%;
			}
		}
	}
}