@import '../config';
@import '../core/breakpoints';

.gpTabs {
	padding: 0;
	//background-color: #FFFF2F;

	.gpTabs__wrapper {
		display: none;
		padding: 0 2rem;
		background-color: #FFF;
		@media screen and (max-width: 1400px) {
			padding: 0 1rem;
		}
	}
	
	.gpTabs__wrapper--active {
		display: block;
	}
	
	.gpTabs__wrapper--nav {
		display: block;
		padding: 0;
	}
	
	.gpTabs__navItem {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid #d8d8d8;
		font-weight: bold;
		font-size: 24px;
		padding: 1rem 2rem;
		cursor: pointer;
		transition: all 300ms ease-in-out;
		&:hover {
			border-bottom-color: $black;
		}
		
		&:after {
			content: '';
			background-image: url("#{$images-path}/icons/arrow-right.svg");
			background-repeat: no-repeat;
			background-size: contain;
			width: 24px;
			height: 24px;
			transition: all 300ms ease-in-out;
			transform: rotate(90deg);
		}

		@media screen and (max-width: 1400px) {
			padding: 1rem;
		}

		@include max640px {
			font-size: 18px;
		}
	}
	
	.gpTabs__navItem--active {
		border-bottom-color: $black;
		&:after {
			margin-bottom: -10px;
			transform: rotate(270deg);
			
		}
	}
	
	
	.gpTabs__content {
		padding: 2rem 0 1rem;
	}

	.gallery {
		.gallery__link {
			max-width: 310px;
			width: 100%;
		}
	}
}
