@import '../config';
@import '../core/breakpoints';

.gpTabs {
	padding: 0;
	background-color: #FFFF2F;

	.gpTabs__wrapper {
		display: none;
		padding: 0 2rem;
		max-width: 1920px;
		background-color: #FFF;
		@media screen and (max-width: 1400px) {
			padding: 0 1rem;
		}
	}
	
	.gpTabs__wrapper--active {
		display: block;
	}
	
	.gpTabs__wrapper--nav {
		display: block;
		border-top: 2px solid black;
		padding: 0;
		max-width: 100%;
		background-color: #ffff2f;
	}
	
	.gpTabs__navItem {
		display: flex;
		align-items: center;
		width: 100%;
		font-weight: bold;
		font-size: 24px;
		text-transform: uppercase;
		padding: 1rem 2rem;
		max-width: 1920px;
		cursor: pointer;
		@media screen and (max-width: 1400px) {
			padding: 1rem;
		}

		@include max640px {
			font-size: 18px;
		}
	}
	
	.gpTabs__navItem:after {
		content: '';
		margin-left: 1rem;
		background-image: url("#{$images-path}/icons/arrow-right.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 30px;
		height: 20px;
		transition: all 300ms ease-in-out;
	}

	.gpTabs__navItem--active:after {
		margin-bottom: -10px;
		transform: rotate(90deg);
	}
	
	
	.gpTabs__content {
		padding: 3rem 0;
	}

	.gallery {
		.gallery__link {
			max-width: 320px;
			width: 100%;
		}
	}
}
