@import '../core/breakpoints';

.header {
    position: relative;
    background-color: transparent;
	z-index: 100;
    padding: 1.5rem 0;
    height: 115px;
    z-index: 2050;
    @include max480px {
        padding: 0.5rem 0;
    }

    .header__logo {
        display: block;
        max-width: 90px;
        width: 100%;
        @include max480px {
            max-width: 70px;
        }
    }
    
    .header__logoImg {
        display: block;
        width: 100%;
    }
    
    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        width: 100%;
        padding: 0 3rem;
        @media screen and (max-width: 1400px) {
            padding: 0 1rem;
        }
    }

    .header__menu {
        display: flex;
        .socialIcons {
            @include max480px {
               display: none;
            }
        }
    }
}