.members {
    margin-top: 3rem;
    .members__list {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    .members__item {
        width: 25%;
        margin-bottom: 2rem;
        h3 {
            margin-top: 0;
        }
    }

    ul {
        padding-left: 17.5px;
    }
}