.hp-news {
	margin-bottom: 3rem;
}

.news {
	.news__filters {
		margin-bottom: 2rem;
		.button {
			margin-right: 1.5rem;
			&.active {
				background-color: #FFFF00;
				color: #000000;
			}
		}
	}

	.news__row {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		margin-bottom: 3rem;
		.news__col {
			width: 30%;
			margin-bottom: 3rem;
			@include max768px {
				width: 40%;	
			}

			@include max640px {
				width: 100%;
			}

			a {
				&:hover {
					.news__overlay {
						opacity: 1;
						transition: all ease-in-out .3s;
					}
				}
			}
		}

		.news__image {
			position: relative;
			margin-bottom: 2rem;
			img {
				width: 100%;
			}
		}

		.news__overlay {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0.5)
		}

		h5 {
			font-weight: bold;
		}
	}

	.news__article {
		margin-bottom: 3rem;
	}

	.news__gallery {
		.gallery {
			display: flex;
			gap: 1rem;
			justify-content: flex-start;
			margin-bottom: 3rem;
		}
		
	}
}

.news--hp {
	.news__wrapper {
		max-width: 1230px;
	}

	.news__row {
		justify-content: center;
		@include max940px {
			flex-direction: column;
		}

		.news__col {
			width: 50%;
			margin-bottom: 0;
			@include max940px {
				width: 100%;
			}
		}
	}

	.news__col--copy {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 4rem;
		@include max940px {
			padding: 2rem 0;
		}
		p {
			margin-bottom: 2rem;
		}
	}

	.news__col--image {
		border-radius: 8px;
		@include max940px {
			order: -1;
		}
	}

	.news__image {
		display: block;
		border-radius: 8px;
		width: 100%;
	}

	h2 {
		line-height: 1.5;
	}
}