.tiles {
    .perex {
        text-align: center;
        margin-bottom: 5rem;
    }

    .tiles__wrapper {
        max-width: 1230px;
    }

    .tiles__row {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-flow: row wrap;
        @include max940px {
            
        }
    }

    .tile {
        max-width: 350px;
        &:hover {
            .tile__image:before {
                background-color: rgba(0, 0, 0, 0.7);
            }

            .tile__headline {
                &:after {
                    width: 120px;
                    background-color: $light-yellow;
                }
            }

            .tile__arrow {
                margin-left: 10px;
                g {
                    fill: $light-yellow;
                }
            }
        }
    }

    .tile__inner {
        position: relative;
    }

    .tile__desc {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 0; left: 0; right: 0; bottom: 0;
        color: $white;
    }

    .tile__copy {
        margin-bottom: 2rem;
    }

    .tile__logo {
        display: block;
        max-width: 200px;
        margin: 0 auto 2rem;
    }

    .tile__image {
        display: block;
        width: 100%;
        &:before {
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, 0.6);
            top: 0; left: 0; right: 0; bottom: 0;
            transition: all 300ms ease-in-out;
            border-radius: 8px;
        }

        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    .tile__desc {
        padding: 2rem;
    }

    .tile__headline {
        position: relative;
        display: block;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 2.5rem;
        &:after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 0;
            width: 80px;
            height: 2px;
            background-color: $white;
            transition: all 100ms ease-in-out;
        }
    }

    .tile__link {
        color: $white;
        font-size: 14px;
        font-weight: bold;
    }

    .tile__arrow {
        display: inline-block;
        width: 15px;
        margin-top: -1px;
        margin-left: 5px;
        transition: all 100ms ease-in-out;
        g {
            fill: $white;
        }
    }
}